{% extends "web_app/base.html" %}
{% load static %}

{% block main %}
<div class="container row-container">
    <div class="row justify-content-around row-container">
        <div class="col-3">
            <h2 class="plot-title">SELECT BATCH</h2>
        </div>
        <div class="col-6">
            <select class="form-control form-control-lg select-drop">
                <option value="Last Day">Temp Batch 1</option>
                <option value="Last Week">Temp Batch 2</option>
                <option value="Last Month">Temp Batch 3</option>
                <option value="Last 3 Months">Temp Batch 4</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-around row-container">
        <div class="col-3">
            <h2 class="plot-title">SELECT BARREL</h2>
        </div>
        <div class="col-6">
            <select class="form-control form-control-lg select-drop">
                <option value="Last Day">Temp Barrel 1</option>
                <option value="Last Week">Temp Barrel 2</option>
                <option value="Last Month">Temp Barrel 3</option>
                <option value="Last 3 Months">Temp Barrel 4</option>
            </select>
        </div>
    </div>
</div>

<div class="container row-container" style="padding-top: 30px">
    <div class="row justify-content-around row-container">
        <div class="col-3">
            <h3 class="plot-title">MEASURE</h3>
        </div>
        <div class="col-3">
            <h3 class="plot-title">STATUS</h3>
        </div>
        <div class="col-3">
            <h3 class="plot-title">ACID CONVERSION</h3>
        </div>
    </div>

    <div class="row justify-content-around row-container">
        <div class="col-3">
            <div class="row justify-content-around row-container">
                <h4 class="plot-title">FERMENTATION</h4>
            </div>
            <div class="row justify-content-around row-container">
                <h4 class="plot-title">ACID CONVERSION</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="row justify-content-around row-container">
                <div class="plot-container">
                    <h4 class="plot-title">AT RISK</h4>
                </div>
            </div>
            <div class="row justify-content-around row-container">
                <div class="plot-container">
                    <h4 class="plot-title">IN PROGRESS</h4>
                </div>
            </div>
        </div>
        <div class="col-3 plot-container">
            <img class="img-fluid tempimg" src="/static/.temp/circle.png">
        </div>
    </div>
</div>

<div class="container row-container">
    <div class="row justify-content-around">
        <div class="col-9">
            <h2 class="plot-title">CHANGES</h2>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-9">
            <h5 class="plot-title">TIME PERIOD</h5>
        </div>
    </div>

    <div class="row justify-content-around row-spacer">
        <div class="col-9">
            <select class="form-control form-control-lg select-drop">
                <option value="Last Day">Last Day</option>
                <option value="Last Week">Last Week</option>
                <option value="Last Month">Last Month</option>
                <option value="Last 3 Months">Last 3 Months</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-10 plot-container">
            <img class="img-fluid tempimg" src="/static/.temp/changesingle.png">
        </div>
    </div>
</div>

<div class="container row-container">
    <div class="row justify-content-around">
        <div class="col-12 row-spacer">
            <h2 class="plot-title">FERMENTATION TRACKING</h2>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-5">
            <h5 class="plot-title">MEASURE</h5>
        </div>
        <div class="col-4">
            <h5 class="plot-title">TIME PERIOD</h5>
        </div>
    </div>

    <div class="row justify-content-around row-spacer">
        <div class="col-5">
            <select class="form-control form-control-lg select-drop">
                <option value="Last Day">Fermentation (%)</option>
                <option value="Last Week">PH</option>
                <option value="Last Month">Lactic Acid</option>
                <option value="Last 3 Months">Alcohol (%)</option>
            </select>
        </div>
        <div class="col-4">
            <select class="form-control form-control-lg select-drop">
                <option value="Last Day">Last Day</option>
                <option value="Last Week">Last Week</option>
                <option value="Last Month">Last Month</option>
                <option value="Last 3 Months">Last 3 Months</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-10 plot-container">
            <img class="img-fluid tempimg" src="/static/.temp/graph.png">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}