{% extends "web_app/base.html" %}
{% load static %}

{% block main %}
<div class="container">
    <div class="col-12 col-lg-6 col-md-12 offset-0 offset-md-3"> 
        <form action="/signin/" method="post"> 
            {% csrf_token %}
            {{ form }}
            <div class="invalid-feedback">
                {{ message }}
            </div>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> 
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}